body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  width: 750px;
  margin: 0;
}

.logo {
  margin: 0 auto 20px;
}

h1 span {
  color: #1a1a8e;
}

.cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card {
  display: flex;
  width: 45%;
  background: white;
  margin: 20px;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
}

.tile-image {
  width: 45%;
  height: auto;
  margin-right: 15px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.card-text {
  font-size: 1rem;
  color: #333;
}

footer {
  text-align: right;
  color: midnightblue;
}

